body {
    background-color: rgb(182, 234, 255);
}

#board {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 145, 163);    
}

#player {
    /* width: 10vw;
    height: 5vh; */
    background-color: crimson;
    position: absolute;
}

.obstacle {
    /* width: 10vw;
    height: 5vh; */
    background-color: rgb(221, 225, 11);
    position: absolute;
}